:root{
    --main-color: #1f1d2c;
    --accent-color: #f1a600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}

body{
    background-color: var(--main-color);
    color: white;
    font-family: 'Inter', sans-serif;
    background-image: url(./Rectangle\ 34.svg);
    background-repeat: no-repeat;
    background-size: 310px;
    background-position: right top;
    z-index: 1;
}


nav{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: .5rem 1.25rem;
}

nav img{
    width: 50px;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa~ul{
    background-color: #65a0d1;
    width: 100%;
    list-style: none;
    height: 17%;
    position: absolute;
    right: 100%;
    transition: all 200ms linear;
    z-index: 3;
    text-align: center;
}

input#menu-hamburguesa:checked ~ ul{
    right: 0;
}

input#menu-hamburguesa:checked ~ ul>li{
    padding: 7px 7px;
}


#about-section{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem;
}

#about-section>div{
    position: absolute;
    left: 0;
    padding: 0 1.25rem;
}


#about-section h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1rem;
}

#about-section h1+p{
    font-size: 18px;
    margin-bottom: 1rem;
}

#about-section p>span{
    color: var(--accent-color);
}
.icon-redes{
    margin-top: 1rem;
}
.icon-redes>.icon{
    margin-right: 1rem 1rem;
    width: 24px;
}

section img{
    object-fit: contain;
    max-width: 250px;
    max-height: 300px;   
}

#about-my{
    background-image: url(./Rectangle\ 33-1.svg);
    background-repeat: repeat;
    text-align: center;
    padding: 25px ;
}

h2{
    padding: 12px;
    font-weight: 600;
    font-size: 32px ;
}

.info-my{
    margin: 20px;

}

.img-teclab{
    width: 190px;
    height: px;
}

.div-cursos{
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
}

.info-cursos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
}

#about-experiencia h2{
    padding: 12px;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 10px;
}

.conte-amazon{
    margin: 20px;
}

.contenedor-two{
width: 90%;
}

.contenedor-two .conte-amazon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.two-years{
    font-size: 25px;
    padding: 10px;
}

.conte-airbnb{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding: 20px 20px;
}

.one-years{
    font-size: 25px;
}

.conte-google{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px;
}

.two-yearss{
    font-size: 25px;
}

.barra-amarilla{
    position: absolute;
    right: 40px;
    top: 950px;
    margin: 0;
}

#about-habilidades{
    background-image: url(./Rectangle\ 34-1.svg);
    background-repeat: no-repeat;
    
}

.habilidades-1{
    padding: 12px;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.info-va{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.porcentajes-f{
    font-size: 40px;
    color: #f1a600;
    padding: 10px;
}


.pri-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.seg-info{
    margin: 50px;
}

.contenido-1{
    padding: 25px;
    text-align: center;
}

#my-portafolio{
    height: 400px;
}

.h2-pen{
    padding: 12px;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

#contenedor-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
}

.eccomerce-1{
    background-color: #f1a600;
    width: 105%;
}

#contenedor1{
    margin: 20px;
}

.Training-1{
    background-color: #2989b6;
    width: 105%;
}

#contenedor2{
    position: relative;
    top: 65px;
    margin: 20px;
}

.persona-l{
    background-color: rgb(180, 40, 162);
    width: 105%;
}

#contenedor3{
    position: relative;
    top: 110px;
    margin: 20px;
}

.foto-1{
    width: 100%;
}

.foto-2{
    width: 100%;
}

.foto-3{
    width: 100%;
}


#info-final{
    background-color: #242635;
    margin: 10px 0px;
    align-items: center;
    height: 320px;

}


#info-final .h2-final{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

.tele-email-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.img-tele{
    position: relative;
}

.img-email{
    position: relative;
    top: 80px;
}

.img-phone{
    width: 85%;
}

.img-correo{
    width: 55%;
}

.info-email{
    position: relative;
    bottom: 15px;
}



.fianl-0{
    text-align: center;
    color: #bed10d;
}

@media only screen and (min-width:768px){

    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
    }

    input#menu-hamburguesa ~ ul>li{
        padding: 0 1rem;
    }

}